header {
    background-color: #4F17A8;
    padding: 20px;
    color: white;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 28px;
}


#contact-info {
    display: flex;
}

.header-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}


.header-icons li {
    margin-left: 10px;
}

.header-icons li:first-child {
    margin-left: 0;
} 

icon {
    display: inline-block;
    margin-left: 10px;
}

.icon i {
    font-size: 20px;
    vertical-align: middle;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4F17A8;
    color: white;
    text-align: center;
    padding: 10px;
}
  
.logo_pmi{
    width: 100px;
    height: 100px;
}